<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DmcLib" version="2.0.0.31" targetFramework="net45" />
  <package id="DmcLib.Wpf" version="2.0.0.30" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Config" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net45" />
</packages>